<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Pesquisa de Produtos</h1>
    </div>

    <div class="p-col-12 p-fluid" style="margin: 15px;">
      <label>Nome</label>
      <input type="text" placeholder="Pesquise pelo produto" pInputText />
    </div>

    <div class="p-col-12" style="margin: 15px 0;">
      <button pButton type="submit" label="Pesquisar" style="margin: 0 15px;"></button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="produtos" [paginator]="true" [rows]="5"
        responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th class="col-quantidade-header">Tamanho</th>
              <th class="col-quantidade-header">Quantidade</th>
              <th class="col-valor-header">Preço Un.</th>
              <th class="col-accoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
          <tr>
              <td>{{produto.nome}}</td>
              <td>{{produto.descricao}}</td>
              <td class="col-quantidade-content">{{produto.tamanho}}</td>
              <td class="col-quantidade-content">{{produto.quantidade}}</td>
              <td class="col-valor-content">{{produto.preco}}</td>
              <td class="col-accoes">
                <button pButton icon="pi pi-pencil" pTooltip="Alterar" tooltipPosition="top"></button>
                <button pButton icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="top"></button>
              </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <a pButton label="Novo Produto" style="margin: 15px 0;"></a>

</div>
