<div class="container">
  <form #novaEntidadeForm="ngForm" autocomplete="off" (ngSubmit)=salvar(novaEntidadeForm)>
    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Edição de' : 'Nova' }} Entidade</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo name="tipo"
          [(ngModel)]="entidade.tipo"></p-selectButton>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label style="display: block;">Nome do {{ tipo.value === 'CLIENTE' ? 'Cliente' : 'Fornecedor'}}</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required minlength="3"
          [(ngModel)]="entidade.nome"/>

        <app-message [control]="nome" error="required"
          text="Preencha o nome do {{ tipo.value === 'CLIENTE' ? 'Cliente' : 'Fornecedor'}}"></app-message>

        <app-message [control]="nome" error="minlength"
          text="Deve ter no mínimo {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label style="display: block;">NUIT</label>
        <p-inputNumber [min]="0" name="nuit" ngModel
          [(ngModel)]="entidade.nuit"></p-inputNumber>
      </div>

      <div class="col-12 p-fluid">
        <label style="display: block;">Bairro</label>
        <input type="text" pInputText name="bairro" ngModel
          [(ngModel)]="entidade.endereco.bairro"/>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label style="display: block;">Rua</label>
        <input type="text" pInputText name="rua" ngModel
          [(ngModel)]="entidade.endereco.rua"/>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label style="display: block;">Número</label>
        <input type="text" pInputText name="numero" ngModel
        [(ngModel)]="entidade.endereco.numero"/>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 25px;" [disabled]="novaEntidadeForm.invalid"></button>
        <button pButton type="button" label="Nova" style="margin-right: 25px;" class="p-button-info"
          (click)="nova(novaEntidadeForm)"></button>
        <a routerLink="/entidades">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
