<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Pesquisa de Vendas</h1>
    </div>

    <div class="col-12 p-fluid">
      <label>Cliente</label>
      <input type="text" placeholder="Pesquise pelo cliente" pInputText name="cliente" ngModel/>
    </div>

    <div class="col-6 md:col-12">
      <label style="display: block;">Data</label>
      <p-calendar dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
      <label class="label" style="margin: 0 5px;">Até</label>
      <p-calendar dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
    </div>

    <div class="col-12" style="margin: 15px 0;">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-table [value]="business" [paginator]="true" [rows]="3"
        responsiveLayout="scroll" emptyMessage="Nenhuma venda">
        <ng-template pTemplate="header">
          <tr>
              <th class="col-cliente-header">Nome</th>
              <th class="col-nuit-header">NUIT</th>
              <th class="col-data-header">Data</th>
              <th class="col-valor-header">Valor</th>
              <th class="col-accoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-busines>
          <tr>
              <td>{{busines.entidade}}</td>
              <td class="col-quantidade-content">{{busines.entidade}}</td>
              <td class="col-valor-content">{{busines.dataBusiness}}</td>
              <td class="col-valor-content">{{valorTotal}}</td>
              <td class="col-accoes">
                <button pButton icon="pi pi-pencil" pTooltip="Alterar" tooltipPosition="top"></button>
                <button pButton icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="top"></button>
              </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <a pButton label="Nova Venda" style="margin: 15px 0;"></a>

</div>
