<app-navbar></app-navbar>
<app-pesquisa-entidade></app-pesquisa-entidade>

<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim"
      (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não"
      (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
<!--
  <app-nova-venda></app-nova-venda>
  <app-pesquisa-venda></app-pesquisa-venda>
  <app-nova-entidade></app-nova-entidade>
  <app-pesquisa-entidade></app-pesquisa-entidade>
  <app-pesquisa-cliente></app-pesquisa-cliente>
  <app-novo-produto></app-novo-produto>
  <app-pesquisa-produtos></app-pesquisa-produtos>
-->
