<div class="container">
  <form #novoProdutoForm="ngForm" autocomplete="off" (ngSubmit)=salvar(novoProdutoForm)>
    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Edição de' : 'Novo' }} Produto</h1>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label style="display: block;">Nome</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required minlength="3"
          [(ngModel)]="produto.nome"/>

        <app-message [control]="nome" error="required"
          text="Preencha o nome do produto"></app-message>

        <app-message [control]="nome" error="minlength"
          text="Deve ter no mínimo {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label style="display: block;">Referência</label>
        <input type="text" pInputText name="referencia" ngModel #referencia="ngModel" minlength="3"
          [(ngModel)]="produto.referencia"/>

        <app-message [control]="referencia" error="minlength"
          text="Deve ter no mínimo {{ referencia.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label style="display: block;">Tamanho</label>
        <p-inputNumber [min]="0" name="tamanho" ngModel #tamanho="ngModel" [required]="true"
          [(ngModel)]="produto.tamanho"></p-inputNumber>

        <app-message [control]="tamanho" error="required"
          text="Preencha o tamanho do produto"></app-message>
      </div>

      <div class="col-12 md:col-5 p-fluid">
        <label style="display: block;">Preço</label>
        <p-inputNumber mode="currency" currency="MZN" locale="pt-MZ" [min]="0" name="preco"
          ngModel #preco="ngModel" [(ngModel)]="produto.preco" [required]="true"></p-inputNumber>

        <app-message [control]="preco" error="required"
          text="Preencha o preco do produto"></app-message>
      </div>

      <div class="col-12 md:col-5 p-fluid">
        <label style="display: block;">Tipo Produto</label>
        <!--<input type="text" pInputText name="tipoproduto" ngModel #tipoproduto="ngModel" required minlength="3"/>-->
        <p-dropdown [options]="tipoprodutos" [filter]="true" placeholder="Pesquise pelo tipo de produto"
          emptyFilterMessage="Nenhum tipo encontrado" name="tipoproduto" #tipoproduto [required]="true"
          [(ngModel)]="produto.tipoProduto.id"></p-dropdown>
      </div>

      <!--
      <div class="col-12 md:col-2 p-fluid">
        <label style="display: block;">Quantidade</label>
        <input type="text" pInputText name="stock" ngModel #stock="ngModel" required minlength="3"/>


        <app-message [control]="stock" error="required"
          text="Preencha o stock do produto"></app-message>
      </div>-->

      <div class="col-12 p-fluid">
        <label style="display: block;">Descricao</label>
        <textarea pInputTextarea [rows]="3" name="descricao" ngModel #descricao="ngModel"
          [(ngModel)]="produto.descricao"></textarea>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 25px;" [disabled]="novoProdutoForm.invalid"></button>
        <button pButton type="button" label="Novo" style="margin-right: 25px;" class="p-button-info"
          (click)="novo(novoProdutoForm)"></button>
        <a routerLink="/produtos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
