<div class="container">
  <form #novaEntidadeForm="ngForm" autocomplete="off">
    <div class="grid">
      <div class="col-12">
        <h1>Nova Entidade</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label style="display: block;">Nome do {{ tipo.value === 'CLIENTE' ? 'Cliente' : 'Fornecedor'}}</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required minlength="3"/>

        <app-message [control]="nome" error="required"
          text="Preencha o nome"></app-message>

        <app-message [control]="nome" error="minlength"
          text="Deve ter no mínimo {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label style="display: block;">NUIT</label>
        <p-inputNumber [min]="0" name="nuit" ngModel></p-inputNumber>
      </div>

      <div class="col-12 p-fluid">
        <label style="display: block;">Bairro</label>
        <input type="text" pInputText name="bairro" ngModel/>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label style="display: block;">Rua</label>
        <input type="text" pInputText name="rua" ngModel/>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label style="display: block;">Número</label>
        <input type="text" pInputText name="numero" ngModel/>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 25px;" [disabled]="novaEntidadeForm.invalid"></button>

        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
