<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Nova Entidade</h1>
    </div>

    <div class="col-12">
      <p-selectButton [options]="tipos" #tipo></p-selectButton>
    </div>

    <div class="col-12 md:col-9 p-fluid">
      <label style="display: block;">Nome do {{ tipo.value === 'CLIENTE' ? 'Cliente' : 'Fornecedor'}}</label>
      <input type="text" pInputText />
    </div>

    <div class="col-12 md:col-3 p-fluid">
      <label style="display: block;">NUIT</label>
      <p-inputNumber [min]="0"></p-inputNumber>
    </div>

    <div class="col-12 p-fluid">
      <label style="display: block;">Bairro</label>
      <input type="text" pInputText />
    </div>

    <div class="col-12 md:col-9 p-fluid">
      <label style="display: block;">Rua</label>
      <input type="text" pInputText />
    </div>

    <div class="col-12 md:col-3 p-fluid">
      <label style="display: block;">Número</label>
      <input type="text" pInputText />
    </div>

    <div class="col-12">
      <button pButton type="submit" label="Salvar" style="margin-right: 25px;"></button>

      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </div>
</div>
