<div class="container">
  <form #novaVendaForm="ngForm" autocomplete="off">
    <div class="grid">
      <div class="col-12">
        <h1>Nova Venda</h1>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label style="display: block;">Cliente</label>
        <p-autoComplete [(ngModel)]="selectedCustomer" [suggestions]="filteredClients" (completeMethod)="search($event)"
          name="cliente" #cliente="ngModel" [required]="true"></p-autoComplete>
        <!--<input type="text" placeholder="Pesquise pelo cliente" pInputText
          name="cliente" ngModel #cliente="ngModel" [required]="true"/>-->

        <app-message [control]="cliente" error="required"
          text="Preencha o nome do cliente"></app-message>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <!-- div vazia para permitir ajustar o autocomplete de clientes alinhado sozinho -->
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label style="display: block;">Produto</label>
        <p-dropdown [options]="produtos" optionLabel="nome" [filter]="true" placeholder="Pesquise pelo produto"
          emptyFilterMessage="Nenhum produto encontrado" name="produto" ngModel #produto [required]="true"></p-dropdown>
        <!--<input type="text" placeholder="Pesquise pelo produto" pInputText />-->
      </div>

      <div class="col-12 md:col-6">
        <label style="display: block;">Quantidade</label>
        <p-inputNumber [min]="0" [size]="6" name="quantidade" ngModel #quantidade="ngModel" [required]="true"></p-inputNumber>

        <button pButton type="submit" label="Adicionar" style="margin: 0 15px;"></button>

        <app-message [control]="quantidade" error="required"
          text="Preencha a quantidade para o produto seleccionado"></app-message>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <p-table [value]="lancamentos" [paginator]="true" [rows]="3"
          responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th class="col-quantidade-header">Quantidade</th>
                <th class="col-valor-header">Preço</th>
                <th class="col-valor-header">Valor</th>
                <th class="col-accoes-header"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lancamento>
            <tr>
                <td>{{lancamento.produto}}</td>
                <td class="col-quantidade-content">{{lancamento.quantidade}}</td>
                <td class="col-valor-content">{{lancamento.preco | currency: 'MZN':'' }}</td>
                <td class="col-valor-content">{{lancamento.valorTotal | currency: 'MZN':'' }}</td>
                <td class="col-accoes">
                  <button pButton icon="pi pi-pencil" pTooltip="Alterar" tooltipPosition="top"></button>
                  <button pButton icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="top"></button>
                </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="grid">
        <div class="col-12" style="margin: 10px; text-align: right;">
          <label style="font-weight: normal;">Valor Total: </label>
          <label>{{ valorT | currency: 'MZN':'' }} MTn</label>
        </div>

        <div class="col-12" style="margin: 10px; text-align: right;">
          <label style="font-weight: normal;">Valor Pago: </label>
          <p-inputNumber mode="currency" currency="MZN" locale="pt-MZ" [min]="0" name="valor" ngModel #valor="ngModel" [required]="true"></p-inputNumber>

          <app-message [control]="valor" error="required"
            text="Preencha o valor Pago"></app-message>
        </div>

        <div class="col-12" style="margin: 10px; text-align: right;">
          <label style="font-weight: normal;">Trocos: </label>
          <label>{{ valorT | currency: 'MZN':'' }} MTn</label>
        </div>

        <div class="col-12">
          <button pButton type="submit" label="Finalizar Venda" style="margin: 0 25px;" [disabled]="novaVendaForm.invalid"></button>

          <a href="javascript:;">Voltar para a pesquisa</a>
        </div>
    </div>
  </form>
</div>
